body{
    margin : 0 ; 
    padding: 0 ;
    width: 100%;
    background-image:url(images/background7.jpg)
   
}

#header{
width: 98%;
height:300px;
margin: auto;
margin-top: 10px;
background-image: url(images/header6.jpg);
background-position: center;
background-size: cover;
border-radius: 10px;
}
#search{
width: 150px;
height: 30px;
margin-top: 4px;
margin-left: 4px;
background: rgba(223, 206, 206, 0.5);
transition: all .5s;
}
#search::placeholder {
    color: white
}
#search:hover{
    background: rgba(246, 246, 246, 0.8);
    width: 200px;
    border-radius: 8px;
}
#searchBtn{
    height: 30px;
    background: rgba(223, 206, 206, 0.5);
    border-radius: 4px;
    color: white;
    transition: all .5s;
}
#searchBtn:hover{
border-radius: 8px;
background: rgba(241, 233, 233, 0.8);
color:rgb(114, 109, 109)
}

#content{
    display: flex;
    width: 90%;
    justify-content: space-around;
    /* align-items: flex-start; */
     align-items: stretch;
    flex-wrap: wrap;
    margin: auto;
    margin-top: 50px;
}
.searchedContent {
    display: flex;
    width: 90%;
    justify-content: space-around;
    /* align-items: flex-start; */
    align-items: stretch;
    flex-wrap: wrap;
    margin: auto;
    margin-top: 50px;
}
.search-matches{
    color : rgb(224, 194, 194);
    font-size:20px;
  font-family: 'Satisfy',
    cursive;
    ;
    font-weight: bold;
}

#episodeSelector{
    font-size: 18px;
background-color: rgb(129, 155, 212);

color: white;
border-radius: 10px;
height:40px;
}


/* ===== cards */ 

.cardContainer {
   width:400px;
display: flex;
flex-wrap: wrap;
justify-content: space-around;
margin: auto;
}
.singleCard {
    flex-basis: 100%;
    flex-direction: column;
    align-items: center;
    font-size: 2vw;
    margin-bottom: 20px;
}

.cardImageDiv {
    flex-basis: 48%;
    text-align: center;
    border-radius: 7px;
    margin-bottom: 20px;
    position: relative;
}

.cardImageDiv img {
    width: 100%;
    border-radius: 7px;
}

.overlay {
    width: 100%;
    height: 97%;
    position: absolute;
    top: 0;
    border-radius: 7px;
    cursor: pointer;
    background: linear-gradient(rgba(0, 0, 0, 0.3), #50add8);
    opacity: 0;
    transition: 1s;
}

.cardImageDiv:hover .overlay {
    opacity: 1;
}

.summary {
    width: 80%;
    position: absolute;
    bottom: 0;
    left: 50%;
    opacity: 0;
    transform: translateX(-50%);
    transition: 1s;
    font-family: 'Archivo',
        sans-serif;

}

.summary p {
    color: white;
    font-size: 1.1vw;
}

.cardImageDiv:hover .summary {
    bottom: 5%;
    opacity: 1;
}




.cardName {
    margin-bottom: 10px;
    font-size: 1.5vw;
    text-align: center;
}


.cardFooter {
    align-self: flex-start;
    margin-left: 30px;
}

.footerPara {
    margin-top: 7px;
}



.play1 .fa {
    font-size: 2.8vw;
    color: greenyellow;
    transition: all 1s;

}

.link a {
    font-size: 1.5vw;
    position: relative;
    bottom: .5vw;
    margin-right: 3vw;
    margin-left: 5px;
    text-decoration: none;
}

.play1 {
    height: 2.6vw;
    width: 2.6vw;
    border-radius: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    overflow: hidden;
    align-items: baseline;
    transition: all .5s;
    margin-bottom: 10px;

}

.play1:hover {
    border-radius: 0px;
    width: 15vw;
}

.play1:hover .fa {
    font-size: 2.8vw;
    color: red
}





.clock .fa {
    font-size: 2.8vw;
    color: rgb(18, 18, 102);
    transition: all 1s;
}

.time p {
    font-size: 1.6vw;
    position: relative;
    bottom: .5vw;
    margin-right: 3vw;
    margin-left: 15px;
    text-decoration: none;
}

.clock {
    height: 3.2vw;
    width: 3vw;
    border-radius: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    overflow: hidden;
    align-items: baseline;
    transition: all .5s;
}

.clock:hover {
    border-radius: 0px;
    width: 18vw;
}

.clock:hover .fa {
    font-size: 2.8vw;
    color: red
}



